<div class="login-container">
  <!-- Header -->
  <header class="header">
    <h1 class="h1">Welcome to Angular Training</h1>
  </header>

  <h2>Login Form</h2>

  <h3>Features of Angular: </h3>
  <ul>
    <li *ngFor="let feature of features">
      {{ feature }}</li>
  </ul>

  <!-- <p [ngClass]="{'highlight': isHighlighted}" [ngStyle]="{'color':isHighlighted ? 'blue' : 'black' }">
    This text is conditionally styled.
  </p> -->

  <!-- Login Form -->
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" class="login-form" id="userForm">
    <h2>Join our Angular Training!</h2>

    <div class="form-group">
      <label for="userNameInput">User Name: </label>
      <input
        type="text"
        id="userNameInput"
        [(ngModel)]="userName"
        name="userName"
        placeholder="Enter your user name"
        class="input-field"
      />
      <p>Your name is: {{ userName }}</p>
    </div>

    <div class="form-group">
      <label for="nameInput">Name:</label>
      <input
        type="text"
        id="nameInput"
        [(ngModel)]="name"
        name="name"
        placeholder="Enter your name"
        class="input-field"
      />
      <div *ngIf="!name && name !== ''" style="color: red;">
        Name is required.
      </div>
    </div>

    <div class="form-group">
      <label for="emailInput">Email:</label>
      <input
        type="email"
        id="emailInput"
        #emailInput
        name="email"
        placeholder="Enter your email"
      />
      <button (click)="focusEmail(emailInput)">Focus Email</button>
      <div *ngIf="!email && email !== ''" style="color: red;">
        Email is required.
      </div>
    </div>

    <div class="form-group">
      <label for="passwordInput">Password:</label>
      <input
        type="password"
        id="passwordInput"
        [(ngModel)]="password"
        name="password"
        placeholder="Enter your password"
      />
      <div *ngIf="!password && password !== ''" style="color: red;">
        Password is required.
      </div>
    </div>

    <button type="submit" class="btn-primary">Submit</button>
    <button type="button" class="btn-secondary" (click)="resetForm(userForm)">Reset</button>
  </form>

  <div class="login-form">
  <h2>Login</h2>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" [(ngModel)]="userName" name="userName" required />
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" [(ngModel)]="password" name="password" required />
    </div>
    <button type="submit" class="btn-primary">Login</button>
  </form>
</div>

  <!-- Footer -->
  <footer class="footer">
    <p>&copy; 2025 Angular Academy. All rights reserved.</p>
  </footer>
</div>