/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(https://plus.unsplash.com/premium_photo-1676534824249-7f3d2fd1599a?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  height: 100vh; 
  margin: 0;
   font-family: "Tagesschrift", system-ui;
  font-weight: 400;
  font-style: normal;
}
// .example-image {
//   width: 300px;
//   height: auto;
//   border: 2px solid #ccc;
//   border-radius: 8px;
// }