
  .user-card {
      display: flex;
      align-items: center;
      gap: 16px;
      padding: 16px;
      border: 1px solid #ddd;
      border-radius: 8px;
      background-color: #fff;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      margin-bottom: 16px;
    }

    .user-picture {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      object-fit: cover;
    }

    .user-details h4 {
      margin: 0;
      font-size: 16px;
      color: #333;
    }

     .user-details p {
      margin: 4px 0;
      font-size: 14px;
      color: #666;
    }